<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>"Your new post is auto-favorited. You receive emails when favorited posts receive comments."</h1>
   </body>
 </html>
